name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  pruebas-jasmine:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: "PARTE 1/SECCION 1"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: "PARTE 1/SECCION 1/package-lock.json"

      - name: Instalar dependencias
        run: npm ci

      - name: Ejecutar pruebas
        run: npm test
